:root{
/* Color */
    --color-white: #050a13;
    --color-black: #faf0e2;
    --color-blue: #6787cc;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;

/*App Color */
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);

    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);
    --color-text: var(--color-white);
}


*{
    box-sizing: border-box;
}

body{
    font-family: 'Preahvihear', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p, ul{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--color-text);
}

button{
    background-color: transparent;
    outline: 0;
    border: 0;
}

button:focus{
    outline: 1px solid var(--color-accent);
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffebcf;
    filter: brightness(90%);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    transition: all 300ms;
}

    .header_logo{
        display: flex;
        align-items: center;
        gap: 8px;
        width: 20%;
    }

        .header_logo_img{
            width: 34px;
            height: 34px;
        }

        .header_logo_title{
            font-size: 1.8rem;
        }

    .header_menu{
        display: flex;
        gap: 4px;
    }

        .header_menu_item{
            display: block;
            padding: 8px 16px;
            border-bottom: 1px solid transparent;
            transition: all 1.5s;
    
        }

        .header_menu_item.active{
            border: 1px solid var(--color-accent);
            border-radius: 4px;
        }

        .header_menu_item:hover {
            border-bottom: 1px solid var(--color-accent);
            border-radius: 4px;
            transition: all 1.5s;
        }

    .hambuger{
        display: none;
    }

